  <div class="contents row">
    <div class="success">
      <h3>
        では次はこの「やりたいこと」の中で一番「やりたい」想いが強いものを一つ選びましょう！！
      </h3>
      <a class="btn" href="/tweets">みんなのPOST一覧へ戻る</a>
    </div>
  </div>