<p>几帳面で真面目な男子高校生・丸尾栄一郎が、高校入学を機にテニスの魅力に目覚め、テニス選手として成長していく青春ドラマ[2]。神奈川県藤沢市が主なモデルとなっている。
作者の勝木光はテニス経験者であり、本作は綿密な取材に基づいて現実的な技術や戦術、トレーニング理論が描かれている。男子シングルスをメインに扱っており、ダブルスはほとんど描かれていない。
タイトルの英語表記は「Baby Steps」となっているが、日本語表記では最後に「ス」はつかない。
2014年4月から9月までテレビアニメ第1シリーズが、2015年4月から9月まで第2シリーズが放送された。</p>