// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  img.content_post {
    // @include boxBase(20px 0 ,30px);
    position: relative;
    height: 400px;
    color: #fff;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    // box-shadow: 0 0 10px rgba($black,0.2);
  }

  div.contents.row {
    h2 {
      // @include boxBase(20px 0, 0);
      font-weight: normal;
      strong {
        font-weight: bold;
        padding-right: 5px;
        font-size: 1.2em;
      }
    }
  }
